/* SMALL DEVICES */
@media screen and (max-width: 576px) {
  /* defults */
  .header-container {
    width: 95%;
    margin: auto;
    overflow: hidden;
  }

  .container {
    width: 95%;
    margin: 130px auto;
    overflow: hidden;
  }

  button {
    width: auto;
    height: auto;
    font-size: 1em;
    padding: 10px;
  }

  /*===========================
             Header
  ============================== */
  nav {
    flex-direction: column;
    gap: 25px;
  }
  /*===========================
               Feactures
    ============================== */
  .features_wrraper {
    flex-direction: column-reverse;
  }
  .features_title {
    text-align: center;
  }
  .features_title p {
    width: auto;
  }
  .features_title button {
    margin-bottom: 20px;
  }
  .features_img {
    grid-template-columns: repeat(1, 1fr);
  }

  /*===========================
        features_you_will_love
  ============================== */

  .you_will_love_wrapper {
    flex-direction: column;
  }

  .you_will_love_card {
    width: auto;
    padding: 10px;
  }
  .you_will_love_title p,
  .you_will_love_card p {
    width: auto;
  }
  .you_will_love_img img {
    width: 100%;
    border-radius: 20px;
  }

  .years_exp h2 {
    font-size: 2rem;
  }
  .years_exp {
    width: 275px;
    height: 110px;
    right: 0;
    box-shadow: 0px 0px 20px 0px #ff900e;
    margin: auto;
  }

  /*===========================
                 Facts
      ============================== */
  .facts_title {
    text-align: center;
  }
  .facts_title p {
    width: auto;
  }
  .facts_cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  /*===========================
                 Sponspors
      ============================== */
  .sponspors_title p {
    width: auto;
  }
  .sponspors_img {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 25px;
  }
  /*===========================
                Footer
    ============================== */
  footer p {
    padding: 10px;
  }
}

/* Medium DEVICES */
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* defults */
  .header-container {
    width: 95%;
    margin: auto;
    overflow: hidden;
  }
  .container {
    width: 95%;
    margin: 130px auto;
    overflow: hidden;
  }

  button {
    width: auto;
    height: auto;
    font-size: 1em;
    padding: 10px;
  }

  /* Header */
  nav {
    flex-direction: column;
    gap: 25px;
  }
  /*===========================
               Feactures
    ============================== */
  .features_wrraper {
    flex-direction: column-reverse;
  }
  .features_title {
    text-align: center;
  }
  .features_title p {
    width: auto;
  }
  .features_title button {
    margin-bottom: 20px;
  }
  .features_img {
    grid-template-columns: repeat(2, 1fr);
  }
  /*===========================
                     Facts
          ============================== */
  .facts_title {
    text-align: center;
  }
  .facts_title p {
    width: auto;
  }
  .facts_cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  /*===========================
                     Sponspors
          ============================== */
  .sponspors_title p {
    width: auto;
  }
  .sponspors_img {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 25px;
  }
  /*===========================
                    Footer
        ============================== */
  footer p {
    padding: 10px;
  }
}
